@import "./utils/variables";

body {
  font-family: $fontParagraph;
  color: $white;
  background-color: $backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/images/server_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1; /* 背景画像を他の要素よりも背面に配置 */
}

a {
  color: $lightblue;
}

pre code {
  font-family: $fontCode;
  font-size: 75%;
  display: block;
  background: $backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: $fontCode;
  font-size: 75%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}